<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Uniqgrid | Payments</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
  </head>
  <body>
    <nav>
      <div class="logo-div">
        <img class="logo" src="/static/images/logo.svg" alt="" />
      </div>
      <div class="logout">
        <p>Logout</p>
      </div>
    </nav>
    <div class="sidebar">
      <div class="menu">
        <a href="/views/payment-view" class="sidebar-button">Payment</a>
        <a href="/views/transaction-history" class="sidebar-button"
          >Transaction History</a
        >
        <a href="/views/contact-us" class="sidebar-button">Contact Us</a>
      </div>
    </div>
    <div class="view"></div>
  </body>
</html>
