<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Uniqgrid | Payments</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
  </head>
  <body>
    <div class="nav">
      <div class="logo-div">
        <img class="logo" src="/static/images/logo.svg" alt="" />
      </div>
      <div class="logout">
        <p>Logout</p>
      </div>
    </div>
    <div class="sidebar">
      <div class="menu">
        <a href="/views/payment-view" class="sidebar-button">Payment</a>
        <a href="/views/transaction-history" class="sidebar-button"
          >Transaction History</a
        >
        <a href="/views/contact-us" class="sidebar-button">Contact Us</a>
      </div>
    </div>
    <div class="view">
      <h1 class="device-name">NodeX-0001</h1>
      <div class="device-active"></div>
      <br />
      <div class="row">
        <h2>Recharge History</h2>
        <h2>From 01, June, 2019</h2>
        <h2>From 04, June, 2019</h2>
        <button class="get-data">Get Data</button>
      </div>
      <hr />
      <div class="row2">
        <div class="col1">
          <div class="dot"></div>
        </div>
        <div class="col2">
          <p class="em">02 August 2019</p>
          <p class="em">Recharged Rs. 500.00</p>
          <p>Via PAYTM</p>
          <p>Mobile No.: 8888990767</p>
        </div>
        <div class="col2">
          <button class="details">Details</button>
        </div>
      </div>
      <div class="row2">
        <div class="col1">
          <div class="dot" style="background-color: red;"></div>
        </div>
        <div class="col2">
          <p class="em">02 August 2019 <strong>DECLINED</strong></p>
          <p class="em">Recharged Rs. 500.00</p>
          <p>Via PAYTM</p>
          <p>Mobile No.: 8888990767</p>
        </div>
        <div class="col2">
          <button class="details">Details</button>
        </div>
      </div>
    </div>
  </body>
</html>
