@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --color-primary: #263238;
  --active-color: hsla(0, 0%, 100%, 0.15);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  zoom: 87%;
  font-family: 'Roboto', sans-serif;
}

input[type='submit'] {
  outline: none;
  border: none;
  padding: 0.5rem;
  background-color: #3fc380;
  color: white;
  height: 40px;
}
input[type='number'] {
  height: 35px;
  font-size: 1.2rem;
}

.nav {
  position: fixed;
  top: 0;
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo-div {
  width: 50%;
  height: 100%;
}

.sidebar {
  position: fixed;
  font-size: 1.1rem;
  background-color: var(--color-primary);
  left: 0;
  top: 60px;
  box-shadow: 0 0 10px var(--color-primary);
  height: calc(100% - 60px);
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu {
  height: 200px;
  padding-top: 100px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logout {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  color: white;
}

.view {
  position: fixed;
  top: 60px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2rem;
}

#mapid {
  height: 300px;
  width: 95%;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 70px;
  width: 250px;
}

.sidebar-button {
  width: 100%;
  transition: 0.3s linear;
  height: 40px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-button:hover {
  background-color: var(--active-color);
}

a {
  outline: none;
  text-decoration: none;
  border: none;
  width: 100%;
  background-color: var(--color-primary);
  color: aliceblue;
}

.view-top-left {
  width: 50%;
  height: 300px;
}
.view-top-right {
  width: 49%;
  height: 300px;
}
.chart {
  width: 100%;
  height: 300px;
}

.canvas {
  height: 550px !important;
  width: 1200px !important;
  margin-top: 20px;
}

.contact-us-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}

span {
  width: 100px;
  margin-bottom: 10px;
  display: inline-block;
}

.form {
  position: relative;
}

.marker {
  height: 40px;
  width: 30px;
  position: absolute;
  left: -50px;
  top: 50px;
}

.phone {
  height: 40px;
  width: 30px;
  position: absolute;
  left: -50px;
  top: 235px;
}

#subject {
  height: 30px;
  width: 300px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  background-color: #eee;
}
#email {
  height: 30px;
  width: 300px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: #eee;
}
#file {
  height: 30px;
  width: 300px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
#message {
  height: 30px;
  width: 300px;
  outline: none;
  border: none;
  background-color: #eee;
  height: 120px;
}

.contact-send {
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 100px;
}
.address-div {
  position: relative;
}
.address-div > p {
  font-weight: 800;
}

.device-active {
}

.get-data {
  outline: none;
  padding: 1rem;
  border: none;
  border-radius: 20%;
}

.details {
  outline: none;
  padding: 1rem;
  margin-top: 30px;
  border: none;
  border-radius: 20%;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #3fc380;
  margin-top: 20px;
  border-radius: 50%;
  margin-left: -10px;
}

.em {
  font-size: 1.2rem;
  font-weight: 800;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
}

.row2 {
  display: flex;
  width: 70%;
}

.col1 {
  width: 40px;
}

.col2 {
  width: 400px;
}
